:root {
  --Primary-color: #070707;
  --Primary-light-color: #e7e7e7;
  --Secondary-color: #F01313;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--Primary-color);
  color: var(--Primary-light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

.quote q {
  font-style: italic;
  font-weight: 300;
}
.quote cite {
  font-weight: 600;
  font-size: 0.7em;
}

h1 {
  font-size: 1.7em;
  font-style: italic;
}

ul {
  margin-left: 20px;
}

p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5;
}

p::first-letter {
  margin-left: 15px;
  font-size: 1.7rem;
}